<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="vocab.sat"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="9" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".SATVocabActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectWordList"
		        	android:label="Select List"
		        	android:screenOrientation="portrait"
		        	>
        	</activity>
        <activity android:name=".About"
        	android:label="@string/about_label"
        	android:theme="@android:style/Theme.Dialog">
        	</activity>
         <activity android:name=".WordList"
        	android:label="Word List"
        	android:screenOrientation="portrait"
        	>
        	</activity>
        	<activity android:name=".StudyCard"
        	android:label="Study Card"
        	android:screenOrientation="portrait"
        	>
        	</activity>
        	<activity android:name=".ListCreator"
        	android:label="List Creator"
        	android:screenOrientation="portrait"
        	>
        	</activity>
        	<activity android:name=".SelectAWordList"
        	android:label="Select Word List"
        	android:screenOrientation="portrait"
        	>
        	</activity>
        	<activity android:name=".SelectWordList"
        	android:label="Select Word List"
        	android:screenOrientation="portrait"
        	>
        	</activity>
        	<activity android:name=".CreateWordList"
        	android:windowSoftInputMode="adjustResize"
        	android:label="Create Word List"
        	android:screenOrientation="portrait"
        	
        	>
        	
        	</activity>
        	<activity android:name=".WordLists"
        	android:label="Word Lists"
        	android:screenOrientation="portrait"
        	>
        	</activity>
        	<activity android:name=".SelectAWordListToEdit"
        	android:label="Select a Word List to edit"
        	android:screenOrientation="portrait"
        	>
        	</activity>
        	
		
    </application>
</manifest>